<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<context:property-placeholder location="classpath:coach.properties"/>



<bean id="cricketCoach" class="com.santhoshonjava.core.app.services.impl.CricketCoach" >

   <property name="emailAddress" value="${cricket.email}"/>
   <property name="teamName" value="${cricket.team}" />
</bean>

<bean id="tennisCoach" class="com.santhoshonjava.core.app.services.impl.TennisCoach" />

</beans>